<%= simple_form_for([:admin, @tour]) do |f| %>

  <%= f.input :name %>

  <label for="description">Description</label>

  <%= f.input :description, 
  	as: :text, 
  	label: false,
  	class: 'form-control input-lg', 
  	rows: '100'
  %>

  <%= f.input :price %>

  <%= f.input :latitude %>

  <%= f.input :longitude %>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Attachments</h3>
        <%= f.simple_fields_for :attachments do |ff| %>
          <%= ff.input :file, as: :file, label: "File ##{ff.index + 1}" %>
          <%= ff.input :file_cache, as: :hidden %>
        <% end %>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-orange btn-lg btn-block' %>

<% end %>