<%= simple_form_for(tour) do |f| %>

  <%= f.input :name %>

  <label for="description">Description</label>

  <%= f.input :description, 
  	as: :text, 
  	label: false,
  	class: 'form-control input-lg', 
  	rows: '10'
  %>

  <%= f.input :price %>

  <%= f.button :submit, class: 'btn btn-black btn-lg btn-block' %>

<% end %>
