
<%= render "social/search" %>

<% @tours.in_groups_of(3, false).each do |group| %>
  <div class="row">
    <% group.each do |tour| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
       
        <div class="panel panel-default">
          <div class="panel-heading_santo">
            <a href="">
              <%= image_tag '1.jpg', class: 'img-responsive', alt: '...' %>
            </a>
          </div>
          <div class="panel-body">
            <p class="text-right">
              <a class="btn btn-default btn-social-icon" href="#" role="button">
                <span class="fa fa-twitter"></span>
              </a>
              <a class="btn btn-default btn-social-icon" href="#" role="button">
                <span class="fa fa-google"></span>
              </a>
              <a class="btn btn-default btn-social-icon" href="#" role="button">
                <span class="fa fa-facebook"></span>
              </a>
            </p>
            <p class="text-left">
              <!--<%= tour.name %>-->
              <%= link_to tour.name, tour %>
            </p>
            <p class="text-left">
              <%= sanitize(tour.description) %>
            </p>
          </div>
        </div>
 
      </div>
    <% end %>
  </div>
<% end %>

<button type="button" class="btn btn-default btn-lg btn-block">
  Load more
</button>
<br />