<div class="col-md-12">
	<%= render "layouts/search" %>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">

			<h1>
				<%= @tour.name %> <small class="pull-right">@santo</small>
			</h1>					

			<h3>
				$<%= @tour.price %> MXN
			</h3>

			<dl>

				<dt>
					<strong>
						Descripcion
					</strong>
				</dt>

				<dd>
					<%= simple_format(@tour.description) %>
				</dd>

			</dl>


			<!-- Button trigger modal -->
			<!--
			<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#morePics">
			  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> More Pics
			</button>

			<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#askAQuestion">
			  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ask a Question
			</button>

			<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#addToCart">
			  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
			</button>
			-->

			<div class="panel panel-default">
  				<div class="panel-body">

	  				<h2>
	  					Reservations
	  				</h2>
					<div class="input-group input-group-lg">
		  				<input type="text" class="form-control datepicker" placeholder="" aria-describedby="sizing-addon1">
		  				<span class="input-group-addon" id="sizing-addon1">
		  					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
		  				</span>
					</div>

					<form>
		  				<div class="form-group">
							<select class="form-control input-lg">
								<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
							</select>
						</div>
					</form>					

				</div>
			</div>

			<%= render "layouts/modals" %>

			<br />
			<div class="row">
			  <div class="col-md-6">
			  	
					<i class="fa fa-paw fa-1x" aria-hidden="true"></i><br />

					<i class="fa fa-bicycle fa-1x" aria-hidden="true"></i><br />

					<i class="fa fa-life-ring fa-1x" aria-hidden="true"></i><br />

			  </div>
			  <div class="col-md-6">

					<i class="fa fa-paw fa-1x" aria-hidden="true"></i><br />

					<i class="fa fa-bicycle fa-1x" aria-hidden="true"></i><br />

					<i class="fa fa-life-ring fa-1x" aria-hidden="true"></i><br />
	  	
			  </div>
			</div>


		</div>

		<div class="panel-footer">
			<span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share: 
			<!--start:bootstrap social-->
			<a class="btn btn-social-icon btn-lg btn-twitter">
				<i class="fa fa-twitter"></i>
			</a>
			<a class="btn btn-social-icon btn-lg btn-pinterest">
				<i class="fa fa-pinterest"></i>
			</a>
			<a class="btn btn-social-icon btn-lg btn-facebook">
				<i class="fa fa-facebook"></i>
			</a>
			<a class="btn btn-social-icon btn-lg btn-google">
				<i class="fa fa-google-plus"></i>
			</a>				
			<!--end:bootstrap social-->
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">

			<%= render "layouts/carousel" %>

			<br />			

			<%=
				map(:container_id => "mymap",
					:center => {
						:latlng => [@tour.latitude, @tour.longitude],
						:zoom => 13
					},
					:markers => [{
						:latlng => [@tour.latitude, @tour.longitude],
						:popup => @tour.name
					}]
				)
			%>

		</div>	
	</div>
</div>	


<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
	
			<h2>
				Comments
			</h2>

		</div>	
	</div>
</div>	
